    
<div class="article__header__title--container">
    <div class="article__header__title--top"><h4 class="article__header__title--text">{{postTitle}}</h4></div>
</div>    
<div class="row">
    <div class="large-8 medium-12 small-12 columns"><h5 class="page__path">Home >> Category >> <span
            class="page__path--active">{{title}}</span></h5>
        <div class="page__break"></div>
        <article class="main__article article">
            <header class="article__header"><h3 class="article__header__info">Posted by {{author}} on
                {{postingDate}} in {{category}} | {{commentsCount}} Comments</h3></header>
            <div class="article__main">
                <div class="article__main__media__container"><img src={{imageSrc}} class="article__main__media"/></div>
                <div class="article__main__body">{{articleBody}}</div>
            </div>
            <footer class="article__footer">
                <div class="article__footer__info">{{commentsCount}} Comments</div>
                <div class="page__break"></div>
                <div class="article__footer__comments">
                    <div class="article__footer__comment comment">
                        {{#each comments}}
                        <div class="comment__section">
                            <div class="comment__aside">
                                <div class="comment__aside__avatar__container">
                                    <img src={{this.imageSrc}} class="comment__aside__avatar"/>
                                </div>
                                <div class="comment__aside__date">{{this.commentDate}}</div>
                            </div>
                            <div class="comment__main">
                                <div class="comment__main__author">{{this.commentAuthor}} says:</div>
                                <div class="comment__main__body">{{this.commentBody}}<a href="#" 
                                class="comment__main__body__button">Read more</a></div>
                            </div>
                        </div>
                        {{/each}}
                        {{#each reply}}
                        <div class="comment comment--reply">
                            <div class="comment__section">
                                <div class="comment__aside">
                                    <div class="comment__aside__avatar__container">
                                        <img src={{this.imageSrc}} class="comment__aside__avatar"/>
                                    </div>
                                    <div class="comment__aside__date">{{this.commentDate}}</div>
                                </div>
                                <div class="comment__main comment__main--reply">
                                    <div class="comment__main__author">{{this.commentAuthor}} says:</div>
                                    <div class="comment__main__body">{{this.commentBody}}<a href="#"
                                        class="comment__main__body__button">Read more</a></div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
                <div class="article__footer__info article__footer__info__comment">Leave a comment</div>
                <div class="page__break"></div>
                <div class="form__container hidden">
                    <div class="form__title">Your Comment:</div>
                    <div class="form">
                        <label for="title" class="form__label">Title:</label>
                        <input type="text" id="title" class="form__input form__input--text"/>
                        <label for="body" class="form__label">Body:</label>
                        <textarea class="form__input form__input--textarea"></textarea>
                        <input type="submit" value="Post" class="form__input form__input--submit"/>
                    </div>
                </div>
                <div class="article__footer__info article__footer__info--warn"></div>
            </footer>
        </article>
    </div>
    <div class="large-4 medium-12 small-12 columns">
        <div class="widget__container">
            {{#each this.data}}
                {{> widget}}
            {{/each}}
        </div>
    </div>
</div>