{{#if @first}}
<aside class="widget"><h5 class="widget__heading widget__heading--first">{{this.heading}}</h5>
{{else}}
<aside class="widget"><h5 class="widget__heading">{{this.heading}}</h5>
{{/if}}
    <div class="widget__body">
        {{#if this.lists}}
        <ul class="widget__body__list">
            {{#each lists}}
            <li class="widget__body__list__item">{{this}}</li>
            {{/each}}
        </ul>
        {{else}}
            {{this.text}}
        {{/if}}
    </div>
</aside>